.dir-1 {
    position: absolute;
    top: 0.7em;
    left: 1.6em;
}
.dir-2 {
    position: absolute;
    top: 0.7em;
    left: 4.4em;
}
.dir-3 {
    position: absolute;
    top: 3em;
    left: 5.8em;
}
.dir-4 {
    position: absolute;
    top: 5.4em;
    left: 4.4em;
}
.dir-5 {
    position: absolute;
    top: 5.4em;
    left: 1.6em;
}
.dir-6 {
    position: absolute;
    top: 3em;
    left: 0em;
}

.cost {
    position: absolute;
    top: -1em;
    left: -1em;
    color: goldenrod;
    border: 1px solid goldenrod;
    border-radius: 25px;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
}

.gold {
    position: absolute;
    top: 2.2em;
    left: 1.5em;
    color: goldenrod;
}

.points {
    position: absolute;
    top: 2.2em;
    left: 3.5em;
    color: darkgreen;
}
.minusTokens {
    position: absolute;
    top: 3.7em;
    left: 1.5em;
    color: brown;
}
.plusTokens {
    position: absolute;
    top: 3.7em;
    left: 3.5em;
    color: darkslateblue;
}
