/* You can add global styles to this file, and also import other style files */
html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--empty);
}
$hex-size: 4em; // Only change size here. Best used with sizes from 5em - 10em.

/* ----------------------------------------- */
.container {
  width: 100%; 
  line-height: 1.3;
  border: 1px solid var(--shadow);
  ol.even {
    position: relative;
    left: ($hex-size / 1.1);
  }
  ol.odd {
    position: relative;
    margin-top: -5.5%;
    margin-bottom: -5.5%;
  }
  .hex {
    position: relative;
    margin: 0.7em auto;
    width: $hex-size; height: ($hex-size * 1.7);
    border-radius: 1em/.5em;
    background: var(--backgroundDefault);
    transform: rotate(-90deg);
    display: inline-block;
    margin-right: ($hex-size / 1.30);
    transition: all 150ms ease-in-out;
  }
  .hex:before, .hex:after {
    position: absolute;
    width: inherit; height: inherit;
    border-radius: inherit;
    background: inherit;
    content: '';
  }
  .hex:before {
    transform: rotate(60deg);
  }
  .hex:after {
    transform: rotate(-60deg);
  }
  .hex.selectable:hover {
    background: var(--shadow);
    cursor: pointer;
  }
  .hex.onpath {
    border: 1px solid var(--accent);
  }
  .hex.onpath:before {
    border-top: 1px solid var(--accent);
    border-bottom: 1px solid var(--accent);
  }
  .hex.onpath:after {
    border-top: 1px solid var(--accent);
    border-bottom: 1px solid var(--accent);
  }
  .tileContent {
    position: absolute;
    transform: rotate(90deg);
    left: -1.5em;
    height: 7em;
    width: 7em;
    z-index: 1;
  }
}

.gold {
    color: var(--warn);
}

.points {
    color: var(--success);
}
.minusTokens {
    color: var(--primary);
}
.plusTokens {
    color: var(--error);
}


/* SET EDIT */
#my-table {
  .table {
    thead tr:nth-child(1) th{
      background: var(--empty);
      position: sticky;
      top: 0;
      z-index: 10;
    }
  }
  td, th {
      padding: 0.2em;
  }
  .form-control {
      font-size: 0.8em;
  }
}
