.diceroll {
    position: absolute;
    top: 20px;
    right: calc(20% + 20px);
    color: #a52a2a;
    font-size: 60px;
}
.players {
    height: 50px;
    font-size: 20px;
    .player-info {
        margin-right: 10px;
        padding: 2px;
        border: 2px solid gray;
    }

    .player-info.current-player {
        border: 2px solid brown;
    }
}

.board {
    width: 900px;
    float: left;
}

.supply {
    width: 400px;
    float: left;
}