<h1>GAME LIST</h1>
<div id="games">
  <div class="game-tile" *ngFor="let game of games">
    {{ game.name }}
    <button *ngIf="!playerInGame(game) && !game.started"
      (click)="joinGame(game)">JOIN</button>
    <button *ngIf="playerInGame(game)"
      (click)="playGame(game)">PLAY</button>
    <div>Players <span class="started" *ngIf="game.started">IN PROGRESS</span>
      <ul>
        <li *ngFor="let p of game.players">{{p.name}}</li>
      </ul>
    </div>
  </div>
  <div class="game-tile">
    <input [(ngModel)]="gameTitle" />
    <select [(ngModel)]="gameSet">
      <option *ngFor="let s of validSets" [value]="s.setName">{{s.setName}}</option>
    </select>
    <button (click)="createGame()" [disabled]="gameTitle === ''">NEW GAME</button>
    </div>
</div>
<div id="sets" *ngIf="!editingSet">
  <div class="set-tile" *ngFor="let set of sets">
    <p>SET {{set.setName}} <em *ngIf="set.setList.length < 30">INVALID</em></p>
    <p><button (click)="editingSet = set">EDIT</button></p>
  </div>
  <div class="set-tile" >
      <input [(ngModel)]="newSetName">
      <p><button (click)="editNewSet()" [disabled]="newSetName === ''">NEW SET</button></p>
    </div>
</div>
<div id="set-edit" *ngIf="editingSet">
  <button (click)="editingSet = undefined"><i class="fas window-close"></i></button>
    <app-setedit [setName]="editingSet.setName" [setList]="editingSet.setList" (save)="saveSet($event)"></app-setedit>
</div>