<div class="main">
    <div class="player-left"  (cardClicked)="onClick(left, $event)">
        <app-immortalboard [info]="info.playerInfo[leftIndex]"></app-immortalboard>
    </div>
    <div class="player-right"  (cardClicked)="onClick(right, $event)">
        <app-immortalboard [info]="info.playerInfo[rightIndex]"></app-immortalboard>
    </div>
    <div class="player-front"  (cardClicked)="onClick(front, $event)" *ngIf="frontIndex !== undefined">
        <app-immortalboard [info]="info.playerInfo[frontIndex]"></app-immortalboard>
    </div>
    <div class="wonders"></div>
    <div class="draft" *ngIf="info.drafting">
        <app-immortalcard *ngFor="let c of hand" [cardId]="c" (cardClicked)="draft(c)" ></app-immortalcard>
    </div>
    <div class="my-board" (cardClicked)="onClick(me, $event)">
        <app-immortalboard [info]="info.playerInfo[meIndex]"></app-immortalboard>
    </div>
</div>